<h1>Bienvenid@</h1>
<p>Inicia sesión o <a id="register" routerLink="/registro">regístrate</a> para continuar</p>
<form [formGroup]="data" class="form">
  <div class="mail">
    <mat-form-field>
      <mat-label>Correo electrónico</mat-label>
      <input
        matInput
        matNativeControl
        formControlName="mail"
        placeholder="Escribe aquí tu email"
        type="text"
        required
      />
      <mat-hint>Utiliza una dirección de correo que utilices habitualmente</mat-hint>
    </mat-form-field>
  </div>

  <div class="pass">
    <mat-form-field>
      <mat-label>Contraseña</mat-label>
      <input
        matInput
        formControlName="pass"
        matNativeControl
        placeholder="Introduce aquí tu constraseña"
        type="password"
        required
      />
    </mat-form-field>
  </div>

  <button mat-raised-button color="primary" (click)="submit()">Registrarme</button>
</form>

<!--
  MATERIAL EXAMPLE && add security in php
  ----------------
  HTML:
  <form [formGroup]="filters">
  <fieldset>
    <legend>Tipo de anuncio</legend>
    <mat-radio-group class="type">
      <mat-radio-button ngDefaultControl formControlName="type" value="ask">Pedir ayuda</mat-radio-button>
      <mat-radio-button ngDefaultControl formControlName="type" value="give">Dar ayuda</mat-radio-button>
    </mat-radio-group>
  </fieldset>
  <mat-form-field>
    <mat-label>Esto es un label</mat-label>
    <input matInput formControlName="exampleInput" matNativeControl placeholder="Y esto un placeholder" type="text" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Esto es un label de number</mat-label>
    <input
      matInput
      formControlName="exampleNumInput"
      matNativeControl
      placeholder="Y esto un placeholder de num"
      type="number"
    />
  </mat-form-field>
  <button mat-raised-button (click)="submit()">Aplicar Filtros</button>
</form>

TS:
export...
filters = this.formBuilder.group({
    type: [null],
    exampleInput: [null],
    exampleNumInput: [null]
  });

  numberOfAnnouncements;
  announcementsLimitedByNumber;

  constructor(private formBuilder: FormBuilder, private announcementsService: AnnouncementsService) {}

  submit() {
    console.log('Valor de filters:', this.filters.value);
    console.log('Valor de type:', this.filters.value['type']);
  }
-->
