////GRID DEFINITION////
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    'title title title nav-container'
    'search search search search'
    'main main main main';
}

.title {
  grid-area: title;
  width: 100%;
  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.nav-container {
  grid-area: nav-container;
  justify-self: end;
}

.search {
  grid-area: search;
  justify-self: center;
}

.main {
  grid-area: main;
}

////NAV STYLES////
nav {
  ul {
    li {
      list-style-type: none;
      text-decoration-line: none;
      :hover {
        background-color: green;
      }
    }
    .active {
      background-color: yellow;
    }
  }
}
