////GRID DEFINITION////
////NAV STYLES////
nav {
  ul {
    li {
      display: inline;
      list-style-type: none;
      text-decoration-line: none;
    }
    .active {
      background-color: yellow;
    }
    a {
      text-decoration-line: none;
      color: black;
    }
  }
}
