<app-header-layout></app-header-layout>

<div class="announcement">
  <h2 class="title">{{ announcement.title }}</h2>
  <p class="description">{{ announcement.description }}</p>
  <p class="date">{{ announcement.date | date: 'shortDate' }}</p>
  <div *ngIf="announcement.place">
    <p class="place place-calle">{{ announcement.place.calle }}</p>
    <p class="place place-numero">{{ announcement.place.numero }}</p>
    <p class="place place-cp">{{ announcement.place.cp }}</p>
    <p class="place place-provincia">{{ announcement.place.provincia }}</p>
    <p class="place place-autonomia">{{ announcement.place.autonomia }}</p>
  </div>
  <p class="type">{{ announcement.type }}</p>
</div>
