<form [formGroup]="filters">
  <fieldset>
    <legend>Tipo de anuncio</legend>
    <mat-radio-group class="type">
      <mat-radio-button ngDefaultControl formControlName="type" value="ask">Pedir ayuda</mat-radio-button>
      <mat-radio-button ngDefaultControl formControlName="type" value="give">Dar ayuda</mat-radio-button>
    </mat-radio-group>
  </fieldset>

  <fieldset>
    <legend>Por fecha:</legend>
    <mat-radio-group class="date">
      <mat-radio-button ngDefaultControl formControlName="date" value="one">One</mat-radio-button>
      <mat-radio-button ngDefaultControl formControlName="date" value="two">Two</mat-radio-button>
    </mat-radio-group>
  </fieldset>

  <!--
      <fieldset>
        <legend>Por lugar:</legend>
        <mat-radio-group class="place">
          <mat-radio-button ngDefaultControl formControlName="place" value="">Pedir ayuda</mat-radio-button>
          <mat-radio-button ngDefaultControl formControlName="place" value="">Dar ayuda</mat-radio-button>
        </mat-radio-group>
      </fieldset>
  -->

  <button mat-raised-button (click)="submit()">Aplicar Filtros</button>
</form>
