<app-header-layout></app-header-layout>
<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Configuración">
    <div class="grid">
      <form>
        <fieldset class="notifications">
          <legend>Notificaciones</legend>
          <p class="helper">
            Aunque selecciones "no", te contactaremos por cuestiones importantes, normalmente de seguridad.
          </p>
          <label><input type="checkbox" id="no" />No</label>
          <label><input type="checkbox" id="when-contact" />Cuando alguien contacte conmigo</label>
          <label><input type="checkbox" id="when-announcement" />Cando se publique un anuncio relevante</label>
        </fieldset>
        <fieldset>
          <legend>Uso</legend>
          <label for="options" id="lab-options">Voy a utilizar esto porque...</label>
          <select id="options">
            <option value="ask">Necesito ayuda</option>
            <option value="give">Puedo ayudar</option>
            <option value="both">Ambas</option>
          </select>
        </fieldset>
        <fieldset>
          <legend>Editar mis anuncios</legend>
          <div *ngFor="let announcement of announcements"></div>
        </fieldset>
        <div class="buttons">
          <button id="save">Guardar cambios</button>
          <button id="exit">Salir sin guardar</button>
        </div>
      </form>
    </div>
  </mat-tab>
  <mat-tab label="Ver mis anuncios">
    <div *ngFor="let announcement of announcements">
      {{ announcement | json }}
    </div>
  </mat-tab>
  <mat-tab label="Ver mis mensajes">
    <table mat-table [dataSource]="messages" class="mat-elevation-z6">
      <!--
      <ng-container matColumnDef="{{ column }}" *ngFor="let column of messagesColumns">
        <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
        <td mat-cell *matCellDef="let element">{{ element[column] }}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="messagesColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: messagesColumns"></tr>
      -->
      <ng-container matColumnDef="user_id">
        <th mat-header-cell *matHeaderCellDef>Sent By</th>
        <td mat-cell *matCellDef="let row">{{ row.user_id }}</td>
      </ng-container>

      <ng-container matColumnDef="message" class="messageColumn">
        <th mat-header-cell *matHeaderCellDef>Message</th>
        <td mat-cell *matCellDef="let row">{{ row.message }}</td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef>Date</th>
        <td mat-cell *matCellDef="let row">{{ row.date | date }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="messagesColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: messagesColumns"></tr>
    </table>
  </mat-tab>
</mat-tab-group>
