mat-tab {
  width: 100%;
}

table {
  width: 100%;

  .mat-column-date {
    padding-right: 0px;
    padding-left: 10px;
  }

  .mat-column-message {
    width: 50%;
    padding-right: 20px;
  }
}

h2 {
  text-align: center;
}

fieldset {
  display: grid;
  grid-template-columns: 1fr;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  button {
    height: 50px;
    width: 120px;
  }

  #save {
    background-color: lightgreen;
  }

  #exit {
    background-color: salmon;
  }
}
