<app-header-layout></app-header-layout>

<mat-sidenav-container>
  <mat-sidenav #sidenav disableClose>
    <button (click)="sidenav.close()" class="sidenav-menu">
      <mat-icon>close</mat-icon>
      <p>Cerrar</p>
    </button>
    Sidenav
  </mat-sidenav>
  <mat-sidenav-content>
    <button (click)="sidenav.open()" class="sidenav-menu">
      <mat-icon>filter_alt</mat-icon>
      <p>Filtrar</p>
    </button>
    <section class="announcement">
      <app-small-announcement-layout *ngFor="let result of results"></app-small-announcement-layout>
    </section>
  </mat-sidenav-content>
</mat-sidenav-container>
