<app-header-layout></app-header-layout>

<mat-sidenav-container>
  <mat-sidenav #sidenav opened="true">
    <!--

REMEMBER TO DELETE opened="true"

    -->
    <button (click)="sidenav.close()" class="sidenav-menu">
      <mat-icon>close</mat-icon>
      <p>Cerrar</p>
    </button>
    <form [formGroup]="filters">
      <fieldset>
        <legend>Tipo de anuncio</legend>
        <mat-radio-group class="type">
          <mat-radio-button ngDefaultControl formControlName="type" value="ask">Pedir ayuda</mat-radio-button>
          <mat-radio-button ngDefaultControl formControlName="type" value="give">Dar ayuda</mat-radio-button>
        </mat-radio-group>
      </fieldset>

      <fieldset>
        <legend>Por fecha:</legend>
        <mat-radio-group class="date">
          <mat-radio-button ngDefaultControl formControlName="date" value="one">One</mat-radio-button>
          <mat-radio-button ngDefaultControl formControlName="date" value="two">Two</mat-radio-button>
        </mat-radio-group>
      </fieldset>

      <!--
          <fieldset>
            <legend>Por lugar:</legend>
            <mat-radio-group class="place">
              <mat-radio-button ngDefaultControl formControlName="place" value="">Pedir ayuda</mat-radio-button>
              <mat-radio-button ngDefaultControl formControlName="place" value="">Dar ayuda</mat-radio-button>
            </mat-radio-group>
          </fieldset>
      -->

      <button mat-raised-button (click)="submit()">Aplicar Filtros</button>
    </form>
    <br />
    <br />
    <button (click)="sidenav.close()" class="sidenav-menu apply">
      <mat-icon>done</mat-icon>
      <p>Aplicar filtros</p>
    </button>
  </mat-sidenav>
  <mat-sidenav-content>
    <button (click)="sidenav.open()" class="sidenav-menu">
      <mat-icon>filter_alt</mat-icon>
      <p>Filtrar</p>
    </button>
    <section class="announcements">
      <br />
      <h3>Get announcements</h3>
      <div *ngFor="let announce of announcements">
        {{ announce | json }}
        <p>Announce.id = {{ announce.id }}</p>
      </div>
      <hr />

      <hr />

      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
    </section>
  </mat-sidenav-content>
</mat-sidenav-container>
