.sidenav-menu {
  display: grid;
  align-content: center;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  &.apply {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }
}

mat-sidenav {
  width: 90%;

  // If I use *, it creates many unnecesary grids
  fieldset > section,
  fieldset > mat-radio-group {
    display: grid;
    width: 1fr;
    grid-template-columns: 1vw;
    row-gap: 10px;
    .mat-checkbox {
      // TODO fix text width
      display: inline-block;
      width: 1vw;
    }
  }
}
