<app-header-layout></app-header-layout>

<mat-sidenav-container>
  <mat-sidenav #sidenav disableClose opened="true">
    <!--

REMEMBER TO DELETE opened="true"

    -->
    <button (click)="sidenav.close()" class="sidenav-menu">
      <mat-icon>close</mat-icon>
      <p>Cerrar</p>
    </button>
    <app-search-filters></app-search-filters>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <button (click)="sidenav.close()" class="sidenav-menu apply">
      <mat-icon>done</mat-icon>
      <p>Aplicar filtros</p>
    </button>
  </mat-sidenav>
  <mat-sidenav-content>
    <button (click)="sidenav.open()" class="sidenav-menu">
      <mat-icon>filter_alt</mat-icon>
      <p>Filtrar</p>
    </button>
    <section class="announcements">
      <br />
      <h3>Get announcements</h3>
      <div *ngFor="let announce of announcements">
        {{ announce | json }}
        <p>Announce.id = {{ announce.id }}</p>
      </div>
      <hr />

      <hr />

      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
    </section>
  </mat-sidenav-content>
</mat-sidenav-container>
