<app-header-layout></app-header-layout>
<p *ngIf="usuario.sexo == 'h'; else mujer">Bienvenido, {{ usuario.nombre }}</p>
<ng-template #mujer>Bienvenida, {{ usuario.nombre }}</ng-template>
<div class="breadcrumbs">
  Estás en: [[ current.page ]] //TODO
</div>
<main class="grid-container">
  <section class="create-announcement">
    //All of this is "clickable" and goes inline<br />
    <button>+</button>
    <h3>Crear anuncio</h3>
  </section>
  <section class="notifications">
    <h3>Notificaciones</h3>
    <ul>
      <li>[[*ngFor...]]->[[notificationsTemplate]]</li>
    </ul>
  </section>
  <app-small-announcement-layout></app-small-announcement-layout>
</main>
